stages:
  - build
  - deploy
  - reset-dev
  - check

variables:
  IMAGE_NAME: "${CI_REGISTRY}/nobichat/nobichat-backend/${CI_ENVIRONMENT_NAME}:${CI_COMMIT_SHORT_SHA}"
  IMAGE_NAME_LATEST: "${CI_REGISTRY}/nobichat/nobichat-backend/${CI_ENVIRONMENT_NAME}:latest"
  COMPOSE_FILE: "swarm/compose.yml"

.default-build:
  stage: build
  when: manual
  tags:
    - nobichat_build
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -t $IMAGE_NAME .
    - |
      if [ "$CI_ENVIRONMENT_NAME" == "dev" ]; then
        docker tag $IMAGE_NAME $IMAGE_NAME_LATEST
        docker push $IMAGE_NAME_LATEST
      fi
    - docker push $IMAGE_NAME
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_ENVIRONMENT_BRANCH
  variables:
    CI_ENVIRONMENT_NAME: ""
    CI_ENVIRONMENT_BRANCH: ""

.default-deploy:
  stage: deploy
  when: manual
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker pull $IMAGE_NAME
    - docker stack deploy --with-registry-auth -c $COMPOSE_FILE nobichat-backend
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_ENVIRONMENT_BRANCH
  tags:
    - nobichat_${CI_ENVIRONMENT_NAME}
  variables:
    NOBICHAT_DB_PASS: ""
    NOBICHAT_DB_URL: ""
    NOBICHAT_DB_USER: ""
    NOBICHAT_JWT_SECRET: ""
    OPENROUTER_API_KEY: ""
    OPENROUTER_LLM_ID: ""
    NOBICHAT_REDIS_HOST: ""
    NOBICHAT_REDIS_PORT: ""
    KONTUR_FOCUS_API_KEY: ""
    WIKI_NOBILIS_TEAM_URL: ""
    WIKI_ONTOLOGY_PAGE_ID: ""
    WIKI_TOKEN: ""
    OPENROUTER_API_BASE_URL: ""
    OPENROUTER_LLM_MAX_TOKENS: ""

dev-build:
  extends: .default-build
  variables:
    CI_ENVIRONMENT_NAME: "dev"
    CI_ENVIRONMENT_BRANCH: "develop"

dev-deploy:
  extends: .default-deploy
  needs: [ dev-build ]
  variables:
    CI_ENVIRONMENT_NAME: "dev"
    CI_ENVIRONMENT_BRANCH: "develop"
    NOBICHAT_DB_PASS: $DB_PASSWORD_DEV
    NOBICHAT_DB_URL: $DB_URL_DEV
    NOBICHAT_DB_USER: $DB_USERNAME_DEV
    NOBICHAT_JWT_SECRET: $JWT_SECRET_DEV
    OPENROUTER_API_KEY: $OPENROUTER_API_KEY
    OPENROUTER_LLM_ID: $OPENROUTER_LLM_ID
    KONTUR_FOCUS_API_KEY: $KONTUR_FOCUS_API_KEY
    NOBICHAT_REDIS_HOST: $NOBICHAT_REDIS_HOST
    NOBICHAT_REDIS_PORT: $NOBICHAT_REDIS_PORT
    WIKI_NOBILIS_TEAM_URL: $WIKI_NOBILIS_TEAM_URL_DEV
    WIKI_ONTOLOGY_PAGE_ID: $WIKI_ONTOLOGY_PAGE_ID_DEV
    WIKI_TOKEN: $WIKI_TOKEN_DEV
    OPENROUTER_API_BASE_URL: $OPENROUTER_API_BASE_URL
    OPENROUTER_LLM_MAX_TOKENS: $OPENROUTER_LLM_MAX_TOKENS

dev-reset:
  extends: .default-deploy
  variables:
    CI_ENVIRONMENT_NAME: "dev"
    NOBICHAT_DB_PASS: $DB_PASSWORD_DEV
    NOBICHAT_DB_URL: $DB_URL_DEV
    NOBICHAT_DB_USER: $DB_USERNAME_DEV
    NOBICHAT_JWT_SECRET: $JWT_SECRET_DEV
    OPENROUTER_API_KEY: $OPENROUTER_API_KEY
    OPENROUTER_LLM_ID: $OPENROUTER_LLM_ID
    KONTUR_FOCUS_API_KEY: $KONTUR_FOCUS_API_KEY
    NOBICHAT_REDIS_HOST: $NOBICHAT_REDIS_HOST
    NOBICHAT_REDIS_PORT: $NOBICHAT_REDIS_PORT
    IMAGE_NAME: "${CI_REGISTRY}/nobichat/nobichat-backend/dev:latest"
    WIKI_NOBILIS_TEAM_URL: $WIKI_NOBILIS_TEAM_URL_DEV
    WIKI_ONTOLOGY_PAGE_ID: $WIKI_ONTOLOGY_PAGE_ID_DEV
    WIKI_TOKEN: $WIKI_TOKEN_DEV
    OPENROUTER_API_BASE_URL: $OPENROUTER_API_BASE_URL
    OPENROUTER_LLM_MAX_TOKENS: $OPENROUTER_LLM_MAX_TOKENS
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
    - if: $CI_COMMIT_BRANCH =~ /^feature\/.*$/

feature-build:
  extends: .default-build
  variables:
    CI_ENVIRONMENT_NAME: "feature"
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^feature\/.*$/'

feature-deploy:
  extends: .default-deploy
  needs: [ feature-build ]
  variables:
    IMAGE_NAME: "${CI_REGISTRY}/nobichat/nobichat-backend/feature:${CI_COMMIT_SHORT_SHA}"
    CI_ENVIRONMENT_NAME: "dev"
    NOBICHAT_DB_PASS: $DB_PASSWORD_DEV
    NOBICHAT_DB_URL: $DB_URL_DEV
    NOBICHAT_DB_USER: $DB_USERNAME_DEV
    NOBICHAT_JWT_SECRET: $JWT_SECRET_DEV
    OPENROUTER_API_KEY: $OPENROUTER_API_KEY
    OPENROUTER_LLM_ID: $OPENROUTER_LLM_ID
    KONTUR_FOCUS_API_KEY: $KONTUR_FOCUS_API_KEY
    NOBICHAT_REDIS_HOST: $NOBICHAT_REDIS_HOST
    NOBICHAT_REDIS_PORT: $NOBICHAT_REDIS_PORT
    WIKI_NOBILIS_TEAM_URL: $WIKI_NOBILIS_TEAM_URL_DEV
    WIKI_ONTOLOGY_PAGE_ID: $WIKI_ONTOLOGY_PAGE_ID_DEV
    WIKI_TOKEN: $WIKI_TOKEN_DEV
    OPENROUTER_API_BASE_URL: $OPENROUTER_API_BASE_URL
    OPENROUTER_LLM_MAX_TOKENS: $OPENROUTER_LLM_MAX_TOKENS
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^feature\/.*$/'

stg-build:
  extends: .default-build
  variables:
    CI_ENVIRONMENT_NAME: "stg"
    CI_ENVIRONMENT_BRANCH: "staging"

stg-deploy:
  extends: .default-deploy
  needs: [ stg-build ]
  variables:
    CI_ENVIRONMENT_NAME: "stg"
    CI_ENVIRONMENT_BRANCH: "staging"
    NOBICHAT_DB_PASS: $DB_PASSWORD_STG
    NOBICHAT_DB_URL: $DB_URL_STG
    NOBICHAT_DB_USER: $DB_USERNAME_STG
    NOBICHAT_JWT_SECRET: $JWT_SECRET_STG
    OPENROUTER_API_KEY: $OPENROUTER_API_KEY
    OPENROUTER_LLM_ID: $OPENROUTER_LLM_ID
    KONTUR_FOCUS_API_KEY: $KONTUR_FOCUS_API_KEY
    NOBICHAT_REDIS_HOST: $NOBICHAT_REDIS_HOST
    NOBICHAT_REDIS_PORT: $NOBICHAT_REDIS_PORT
    WIKI_NOBILIS_TEAM_URL: $WIKI_NOBILIS_TEAM_URL_STG
    WIKI_ONTOLOGY_PAGE_ID: $WIKI_ONTOLOGY_PAGE_ID_STG
    WIKI_TOKEN: $WIKI_TOKEN_STG
    OPENROUTER_API_BASE_URL: $OPENROUTER_API_BASE_URL
    OPENROUTER_LLM_MAX_TOKENS: $OPENROUTER_LLM_MAX_TOKENS

prod-build:
  extends: .default-build
  variables:
    CI_ENVIRONMENT_NAME: "prod"
    CI_ENVIRONMENT_BRANCH: "master"

prod-deploy:
  extends: .default-deploy
  needs: [ prod-build ]
  variables:
    CI_ENVIRONMENT_NAME: "prod"
    CI_ENVIRONMENT_BRANCH: "master"
    NOBICHAT_DB_PASS: $DB_PASSWORD_PROD
    NOBICHAT_DB_URL: $DB_URL_PROD
    NOBICHAT_DB_USER: $DB_USERNAME_PROD
    NOBICHAT_JWT_SECRET: $JWT_SECRET_PROD
    OPENROUTER_API_KEY: $OPENROUTER_API_KEY
    OPENROUTER_LLM_ID: $OPENROUTER_LLM_ID
    KONTUR_FOCUS_API_KEY: $KONTUR_FOCUS_API_KEY
    NOBICHAT_REDIS_HOST: $NOBICHAT_REDIS_HOST
    NOBICHAT_REDIS_PORT: $NOBICHAT_REDIS_PORT
    WIKI_NOBILIS_TEAM_URL: $WIKI_NOBILIS_TEAM_URL_PROD
    WIKI_ONTOLOGY_PAGE_ID: $WIKI_ONTOLOGY_PAGE_ID_PROD
    WIKI_TOKEN: $WIKI_TOKEN_PROD
    OPENROUTER_API_BASE_URL: $OPENROUTER_API_BASE_URL
    OPENROUTER_LLM_MAX_TOKENS: $OPENROUTER_LLM_MAX_TOKENS

# Checks
.check-template:
  stage: check
  when: manual

.check-runner-dev:
  tags: [ nobichat_dev ]
  variables:
    CI_ENVIRONMENT_NAME: "dev"

.check-runner-stg:
  tags: [ nobichat_stg ]
  variables:
    CI_ENVIRONMENT_NAME: "stg"

.check-runner-prod:
  tags: [ nobichat_prod ]
  variables:
    CI_ENVIRONMENT_NAME: "prod"

.check-list-containers:
  extends: .check-template
  script:
    - docker container ls --all

.check-list-services:
  extends: .check-template
  script:
    - docker service ls

.check-list-tasks:
  extends: .check-template
  script:
    - docker service ps nobichat-backend_nobichat-backend

.check-logs:
  extends: .check-template
  script:
    - docker service logs -t ${SERVICE_ID}

check-list-containers:dev:
  extends: [ .check-list-containers, .check-runner-dev ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\/.*$/'

check-list-containers:stg:
  extends: [ .check-list-containers, .check-runner-stg ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'

check-list-containers:prod:
  extends: [ .check-list-containers, .check-runner-prod ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

check-list-services:dev:
  extends: [ .check-list-services, .check-runner-dev ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\/.*$/'

check-list-services:stg:
  extends: [ .check-list-services, .check-runner-stg ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'

check-list-services:prod:
  extends: [ .check-list-services, .check-runner-prod ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

check-list-tasks:dev:
  extends: [ .check-list-tasks, .check-runner-dev ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\/.*$/'

check-list-tasks:stg:
  extends: [ .check-list-tasks, .check-runner-stg ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'

check-list-tasks:prod:
  extends: [ .check-list-tasks, .check-runner-prod ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

check-logs:dev:
  extends: [ .check-logs, .check-runner-dev ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\/.*$/'

check-logs:stg:
  extends: [ .check-logs, .check-runner-stg ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'

check-logs:prod:
  extends: [ .check-logs, .check-runner-prod ]
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

